h1
    {text-align:center;}

p
    {text-align: center;}

  #media {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }

  body{
      margin: 0;
  }

  .overlay{
      position: absolute; 
      top: 0%
      

  }
