.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
}

.containter{
    position: absolute;
    top:0;
    left:0;
    z-index: -1;

}

.containter video{
    position: absolute;
    top: 50%;
    left: 50%
    width: 100vw;
    height: 50vw;
    min-width: 150vw;
    min-height: 100vh;
    transform: translate(-50%, -50%);
}

  #media {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }

  body{
      margin: 0;
  }

  .overlay{
      position: absolute; 
      top: 0%
      

  }
