.overlay {
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

body{
    margin:0;
    font-family:Arial,sans-serif;
}

p{
    font-size: 130%;

}

.overlay.fa-ul{
    position: absolute;
    float: right;
    line-height: 40%;
    position: absolute;
    top:-100%;
    bottom:-40%;
    left:-5%;
    right:-5%;
    display:flex;
    align-items: justify;
    justify-content: center;
}





